.carta-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding-top: 15px;
  }
  
  .carta-navbar li {
    margin: 0 110px;
  }
  
  .carta-navbar a {
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
  }
  
  .divider {
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: #fff;
  }

  .navbar-container {
    position: relative;
    z-index: 2; /* Para asegurarse de que esté por encima del contenido */
  }
  
  .carta-principal-container {
    position: relative;
    z-index: 3; /* Para asegurarse de que esté por debajo de la barra de navegación */
    margin-top: 20px; /* Ajusta el margen según necesites */
  }
  
  .carta-general{
    background-color: black;
  }