/* Estilo principal del contenedor padre */
.registro-containerPadre {
  font-family: "Roboto", sans-serif;
  background-image: url("../../../public/Imagenes/Fondo.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

/* Contenedor del formulario */
.registro-container {
  background: linear-gradient(to bottom, #000000, #2c2c2c); /* Gradiente negro */
  padding: 30px;
  border-radius: 15px;
  width: 400px;
}

/* Estilo del título */
.registro-container h2 {
  font-size: 2rem;
  font-weight: bold;
}

/* Input group text en negro */
.input-group-text {
  background-color: #000000; /* Fondo negro */
  color: white; /* Texto en blanco para contraste */
}

/* Botón Create Account */
button.btn-warning {
  background-color: #ffa500;
  border: none;
  font-size: 1.1rem;
}

/* Botón Cancel */
button.btn-secondary {
  font-size: 1.1rem;
}

/* Ajuste responsivo */
@media (max-width: 576px) {
  .registro-container {
    width: 90%;
  }

  .registro-container h2 {
    font-size: 1.5rem;
  }
}
