.registro-containerPadre {
  font-family: "Roboto", sans-serif;
  background-image: url("../../../public/Imagenes/Fondo.jpg");
  background-size: cover;
  background-position: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.registro-container {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 550px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  position: relative; /* Asegura que el botón "X" se posicione relativo a este contenedor */
}

.registro-container h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 5px;
  font-size: 4rem;
}

.registro-container p {
  color: #ccc;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.form-control label {
  color: #fff;
  margin-bottom: 5px;
}

.form-control input {
  padding: 10px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  outline: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  color: #ccc;
  font-size: 0.9em;
  margin-bottom: 10px;
}

.checkbox-container input {
  margin-right: 10px;
}

.boton-registrar {
  width: 50%;
  padding: 10px;
  font-size: 1.1em;
  background-color: #ff6600;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 0 auto;
}

.boton-registrar:hover {
  background-color: #e65500;
}

.error-message {
  color: #ff0000;
  font-size: 14px;
}

.regresar {
  font-size: 40px;
}

.regresar-inicio {
  position: absolute; /* Posiciona en relación con .registro-container */
  top: 10px; /* Ajusta la posición en la parte superior */
  right: 20px; /* Ajusta la posición en la parte derecha */
  font-size: 24px; /* Tamaño de la "X" */
  font-weight: bold; /* Asegura que se vea claramente */
  text-decoration: none; /* Elimina el subrayado */
  color: #ffffff; /* Color de la "X" */
  background-color: transparent; /* Sin fondo */
  border: none; /* Sin bordes */
  cursor: pointer; /* Cambia el cursor para que sea clickeable */
}
