.col.py-3 {
  margin-left: 250px; /* Debe coincidir con el ancho del Sidebar */
  padding: 20px; /* Espaciado interno */
  background-color: #f9f9f9; /* Fondo claro para diferenciar */
  min-height: 100vh; /* Ocupa toda la altura de la ventana */
  overflow-y: auto; /* Habilita el scroll si el contenido es muy largo */
  border: 1px solid black; /* Borde negro */
}

.text-danger {
  margin-left: 250px; /* Debe coincidir con el ancho del Sidebar */
  padding: 20px; /* Espaciado interno */
  background-color: #f9f9f9; /* Fondo claro para diferenciar */
  min-height: 100vh; /* Ocupa toda la altura de la ventana */
  overflow-y: auto; /* Habilita el scroll si el contenido es muy largo */
  border: 1px solid black; /* Borde negro */
}

.pedidoC-header {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #333;
  color: white;
  border-radius: 8px;
  margin-bottom: 20px;
  border: 1px solid black; /* Borde negro */
}

.pedidoC-content {
  background-color: rgb(230, 236, 236);
}
