/* Encabezado */
.header-imageCarta {
  width: 100%;
  max-width: 400px;
  height: auto;
  background: rgba(200, 200, 200, 0.8);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header-imageCarta img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.header-cartaPrincipal h1 {
  color: #fff;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 10px;
}

/* Contenedor Principal */
.container-cartaPrincipal {
  background: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* Contenedor de Pedidos */
.order-cartaPrincipal {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  text-align: center;
  width: 300px;
}

.order-cartaPrincipal h2 {
  color: #fff;
  margin-bottom: 20px;
}

.order-content-cartaPrincipal {
  background: rgba(255, 255, 255, 0.8);
  color: #333;
  padding: 5px;
  border-radius: 8px;
  font-size: 20px;
}

/* Categoría */
.container-categoryName {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 10px 0;
  margin-bottom: 10px;
}

/* Productos */
.items-cartaPrincipal {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-item {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.product-item button {
  font-size: 1.3rem;
  border-radius: 10px;
}

.item-image-cartaPrincipal {
  background: rgba(200, 200, 200, 0.8);
  width: 100%;
  max-width: 250px;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-image-cartaPrincipal img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.product-item h3 {
  margin: 10px 0 5px;
  font-size: 1.8rem;
  color: #333;
  height: 50px;
}

.product-item p {
  margin: 5px 0;
  font-size: 1.8rem;
  color: #333;
}

/* Botón */
button {
  background-color: #ff6a00;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e55b00;
}

/* Orden de Pedidos */

.order-container {
  margin-top: 110px;
  margin-left: 40px;
  color: #000;
  width: 100%;
  max-width: 480px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-container h2 {
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.order-item {
  display: grid;
  grid-template-columns: 70px 1fr auto auto;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f9f9f9;
}

.item-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
}

.item-details {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.item-details h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.item-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-controls span {
  font-size: 2rem;
}

.item-controls button {
  background: #ff6a00;
  color: white;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  font-size: 1.5rem;
}

.item-controls button:hover {
  background: #e55b00;
}

.item-subtotal {
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 1.3rem;
}

.item-subtotal p {
  margin: 0;
}

.removeItem-button {
  background: #ff0000;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.removeItem-button:hover {
  background: #cc0000;
}

.order-summary {
  text-align: center;
  margin-top: 20px;
}

.order-summary h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.checkout-button {
  background: #000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
}

.checkout-button:hover {
  background: #333;
}
