/* Hacer que el Sidebar sea fijo */
.bg-dark {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* Ocupa toda la altura de la ventana */
    overflow-y: auto; /* Permitir scroll dentro del Sidebar si es necesario */
    z-index: 1000; /* Asegurar que esté sobre otros elementos */
  }
  
  /* Ajustar el ancho del Sidebar */
  .col-auto {
    width: 250px; /* Puedes ajustar este valor */
  }
  
  /* Asegurarse de que el contenido principal tenga margen */
  .main-content {
    margin-left: 250px; /* Igual al ancho del Sidebar */
    padding: 20px; /* Espaciado interno del contenido */
  }
  