.main-content-admin {
  margin-left: 250px; /* Espacio suficiente para no solaparse con el sidebar */
  flex: 1;
  box-sizing: border-box;
}

.box1-header {
  background-color: #4caf50; /* Verde del encabezado principal */
  color: white;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-icon {
  font-size: 28px;
  cursor: pointer;
}

.header-title {
  flex-grow: 1;
  text-align: left;
}

.box2-contenido {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(390px, 5fr));
  gap: 20px;
  padding: 20px;
  background-color: #c2bebe;
}

.control-header {
  background-color: #4caf50; /* Verde similar al encabezado */
  color: white;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.table-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 20px;
}

.table-control {
  background-color: #2ecc71; /* Verde similar al círculo */
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  margin-left: 70px;
  color: black;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.table-control:hover {
  transform: scale(1.1);
}

.table-control.selected {
  background-color: #f1c40f; /* Amarillo para la mesa seleccionada */
}

.table-control img {
  width: 150px;
  height: 150px;
  margin-bottom: 5px;
}

.table-label {
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
  font-size: 2rem;
}
