/* Contenedor principal */
.infroC-container {
    background-color: #121212; /* Fondo oscuro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease-in-out;
  }
  
  .infroC-container:hover {
    transform: scale(1.02); /* Pequeño zoom al pasar el cursor */
  }
  
  /* Títulos */
  .infroC-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 5rem;
  }
  
  /* Descripción */
  .infroC-description {
    color: #cccccc;
    font-size: 1.5rem;
  }
  
  /* Imágenes */
  .infroC-img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
  }
  
  .infroC-img:hover {
    transform: scale(1.05); /* Zoom en la imagen al hacer hover */
    box-shadow: 0 8px 15px rgba(255, 255, 255, 0.2);
  }
  
  /* Botón */
  .infroC-text button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .infroC-text button:hover {
    background-color: #0056b3;
    transform: translateY(-3px); /* Efecto de elevación */
  }
  
  /* Transición suave */
  .infroC-text button,
  .infroC-img {
    transition: all 0.3s ease-in-out;
  }
  