/* Estilo general del contenedor */
.info-inicio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 65%;
    margin: 0 auto;
    padding: 20px;
    color: rgb(255, 255, 255); /* Color de texto blanco */
    font-family: Arial, sans-serif;
    min-height: 500px;
}

/* Estilo para el título */
.title-info {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilo para la descripción */
.descripción-info {
    max-height: 50rem;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 80px;
    word-wrap: break-word;
    max-width: 65rem; 
    margin-right: 2rem ;
    width: 1000px;
    height: 175px;
}


/* Posicionamiento del botón sobre imagen1 */
.boton-personalizado {
    font-size: 1.5rem;
    position: absolute;
    top: 34rem; /* 2rem por encima de la imagen1 */
    left: 0; /* Alineado a la izquierda */
    margin-left: 8rem; /* Opcional: un poco de margen para separarlo del borde */
}

.image-infor1{
    max-width: 100%;
}

/* Estilo para la imagen 1 (centrada abajo) */
.imagen1 {
    width: 100%; /* Ajuste para hacerla responsiva */
    height: 25rem;
    background-color: lightgray;
    margin-top: 5rem;
    margin-left: 15rem;
    margin-right: auto;
    position: relative;
    display: block;
}

/* Estilo para la imagen 2 (a la derecha) */
.imagen2 {
    width: 30rem;
    height: 32rem;
    background-color: lightgray;
    position: absolute;
    right: 0;
    top: 50px;
}
